.section__form{
    box-sizing: border-box;
    height: 50%;
    width: 80%;
    background-color: blue;
    margin: auto;
}

.form > input{
    padding: 1rem;
    margin: 1rem;
    border: 0.2rem dashed #5ef38c;
}

/* ------ Grid --------- */
.form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.Aanmeld__voornaam{
    grid-area: 1 / 1 / 2 / 2;
}

.Aanmeld__achternaam{
    grid-area: 1 / 2 / 2 / 3;
}

.Aanmeld__email{
    grid-area: 2 / 1 / 3 / 2;
}

.Aanmeld__wachtwoord{
    grid-area: 2 / 2 / 3 / 3;
}

.Aanmeld__leeftijd{
    grid-area: 3 / 1 / 4 / 2;
}

.Aanmeld__geslacht{
    grid-area: 3 / 2 / 4 / 3;
}

.Aanmeld__submit{
    grid-area: 4 / 2 / 5 / 3;
}