.footer{
    background-color: #7feca1;
    left:0;
    bottom: 0;
    align-items: center;
    display: flex;
    justify-content: space-between;
    position:absolute;
    width:100%;
    height: 10rem;
    padding: 1rem 1rem;
}

.footer__logos{
    display: flex;
    gap: 2rem;
    height: 100%;
    align-items: center;
}

.footer__socialMedia{
    height: 80%;
    display: flex;
    gap: 2rem;
    align-items: center;
}

.footerFigure{
    width:fit-content;
    height:100%;
}

.footerFigure__img{
    width:100%;
    height:100%;
    object-fit:contain;
}

.facebook{
    height: 80%;
}

@media only screen and (max-width: 600px) {
    
    .footerFigure{
        width: 5rem;
    }
}   