.footer{
    background-color: #1B2430;
    bottom:0;
    left:0;
    display:block;
    align-items: center;
    justify-content: center;
    display: flex;
    position:absolute;
    width:100%;
    margin-top:auto;
}
.footerFigure{
    width:100px;
    height:100%;
    margin-left:3%;
    margin-right:3%;
}
.footerFigure__img{
    width:100%;
    height:100%;
}

