*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    background-color: rgba(183, 253, 254, 1);
}


.section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
}

.section__button{
    height: 30rem;
    width: 30rem;
    margin: 1rem;
    border-radius: 50%;
    border: none;
    background-color: #fd348c;
    box-shadow: #5ef38c -1rem 1rem 0;
    transition: 0.3s ease-out;
}

.section__button:hover{
    transform: translate(-0.3rem, 0.3rem);
    box-shadow: #5ef38c -0.7rem 0.7rem 0;;
}

.section__button__a{
    color: white;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 250%;
    width: 100%;
    height: 100%;
}

.section__info{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 0.1fr 0.1fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 80vh;
}

.section__info__h1{
    font-family: 'MontserratBold', Fallback, sans-serif;
    font-weight: 800;
    font-size: 280%;
    color: #5ef38c;
    -webkit-text-stroke: 1px #3c9c5a75;
    grid-area: 1 / 1 / 2 / 5;
    display: flex;
    justify-content: center;
    transition: 0.3s ease-out;
}

.section__info__h1:nth-child(2){
    grid-area: 2 / 1 / 3 / 5;
}

.section__info__figure{
    grid-area: 3 / 1 / 4 / 3;
    animation-name: swing;
    animation-iteration-count: infinite;
    max-width: 30rem;
}

.section__info__img{
    animation-name: swing;
    animation-iteration-count: infinite;
    animation-duration: 1.8s;
    max-width: 30rem;
    transition: transform .2s ease-in-out;
}

/* --------- Media queries --------- */

@media screen and (min-width: 500px) {
    .section__button {
      height: 40rem;
      width: 40rem;
    }

    .section__info__h1{
        font-size: 300%;
    }
}

@media screen and (min-width: 600px) {
    .section__button {
      height: 45rem;
      width: 45rem;
    }

    .section__info__h1{
        font-size: 375%;
    }
}

@media screen and (min-width: 750px) {
    .section__button {
      height: 55rem;
      width: 55rem;
    }

    .section__info__h1{
        font-size: 500%;
    }
}

/* ---------- Animations --------- */

@keyframes swing {
    0%{
        transform: rotate(8deg)

    }
    50%{
        transform: rotate(-8deg)
    }
    100%{
        transform: rotate(8deg)
    }
}

