article{
    margin:125px auto 75px auto;
    width:60vw;
    background-color: rgba(253, 52, 140, 0.6);
    border:solid 3px #6e44ff;
    padding:15px;
    box-shadow: -0.6rem 0.6rem 0 #fbd83a;

}
article > p{
    font-size: 1.8em;

}

@media only screen and (max-width: 600px) {
    article{
        width:80vw;
    }
}