.articleSection{
    margin:75px auto 75px auto;
    width:60vw;
    background-color: rgba(253, 52, 140, 0.6);
    border:solid 3px #6e44ff;
    padding:2rem;
    box-shadow: -0.6rem 0.6rem 0 #fbd83a;

}

.articleSection__h2{
    padding-left:2rem;
    padding-bottom:1rem;
}
.articleSection-padding{
    padding-top:2rem;
}
.articleSection > p{
    font-size: 1.8em;
    padding-left:2rem;
}

.profileButtonSection{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.profileButtonSection__btn{
    background-color: var(--purple);
    border: none;
    font-size: 200%;
    margin: 1rem 0.4rem;
    color: white;
    padding: 1rem 2rem;
    box-shadow: -0.5rem 0.5rem 0 var(--yellow);
    transition: 0.2s ease-out;
}

@media only screen and (max-width: 600px) {
    article{
        width:80vw;
    }
}